#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "new-stories top-stories";
    margin: 50px auto 20px auto;
    max-width: 1000px;
    column-gap: 10%;
}

#newStoriesContainer {
    grid-column: new-stories;
}

#topStoriesContainer {
    grid-column: top-stories;
}

@media screen and (max-width: 768px) {
    #content {
        grid-template-areas:
        "new-stories"
        "top-stories";
        column-gap: unset;
        row-gap: 2%;
        margin: 0 50px 0 50px;
        justify-items: center;
    }

    #newStoriesContainer {
        grid-column: content;
    }

    #topStoriesContainer {
        grid-column: content;
    }
}